@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100%;
}

.navbar {
  height: 60px;
  width: 100%;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 100;
}

.contItems {
  font-size: 22px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items {
  margin-right: 30px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.items:hover {
  color: #5f5f5f;
}

.logoMenuImg {
  width: 30px;
  display: none;
  position: absolute;
  right: 20px;
  top: 13px;
}

@media screen and (max-width: 700px) {
  .logoMenuImg {
    display: block;
  }
  .navbar {
    display: block;
  }
  .items:nth-child(1) {
    padding-top: 20px;
  }
  .items {
    background: #f5f5f5;
    margin-right: 0;
    padding: 10px 20px;
    display: block;
  }
  .contItems {
    display: none;
    border-top: 1px solid black;
    /* background: green; */
  }
  /* Classe à toggle */
  .responsive {
    display: block;
    margin-top: 50px;
  }
}

.accueil {
  height: 800px;
  width: 100%;
  background: #333;
  background: url("../ressources/home.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accueil h1 {
  font-family: 'Abril Fatface', sans-serif;
  color: #f1f1f1;
  font-size: 70px;
  letter-spacing: 5px;
  margin: 0;
  position: relative;
  padding-top: 150px;
}

.accueil h1::first-letter {
  font-size: 120px;
}

.accueil .sousTitreP {
  color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}

@media screen and (max-width: 1000px) {
  .accueil h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 760px) {
  .accueil {
    height: 600px;
  }
  .accueil h1 {
    font-size: 30px;
  }
  .accueil .sousTitreP {
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  .accueil {
    height: 500px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .accueil h1 {
    margin: 0px 20px;
  }
  .accueil .sousTitreP {
    margin: 0px 20px;
  }
  .accueil h1::first-letter {
    font-size: 50px;
  }
}

.titreSec1 {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
}

.txtImg {
  padding-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px dashed lightskyblue;
}

.txtImg .flexContainerSection1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
}

.txtImg .flexContainerSection1 .contImgSec1 {
  width: 45%;
  margin: 20px;
}

.txtImg .flexContainerSection1 .contImgSec1 img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.txtImg .flexContainerSection1 .contTxtSec1 {
  width: 45%;
  background: azure;
  margin: 20px;
  border-radius: 2px;
}

.txtImg .flexContainerSection1 .contTxtSec1 h2 {
  text-align: center;
  font-size: 35px;
}

.txtImg .flexContainerSection1 .contTxtSec1 .sousTitreSec1 {
  text-align: center;
}

.txtImg .flexContainerSection1 .contTxtSec1 hr {
  width: 60px;
}

.txtImg .flexContainerSection1 .contTxtSec1 .txtSec1 {
  font-size: 19px;
  padding: 15px;
}

.txtImg .flexContainerSection1 .contTxtSec1 .txtSec1::first-letter {
  font-size: 30px;
}

@media screen and (max-width: 1200px) {
  .txtImg .flexContainerSection1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 400px;
  }
  .txtImg .flexContainerSection1 .contImgSec1 {
    width: 100%;
  }
  .txtImg .flexContainerSection1 .contTxtSec1 {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .titreSec1 {
    font-size: 25px;
  }
}

.titrePortfolio {
  font-size: 40px;
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (max-width: 550px) {
  .titrePortfolio {
    font-size: 25px;
  }
}

.diviseurPort {
  width: 20%;
}

.portFolioImg {
  padding-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
}

.portFolioImg .flexImgPortfolio {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portFolioImg .flexImgPortfolio .imgPort {
  width: 300px;
  margin: 20px;
  height: 370px;
  overflow: hidden;
  background: #000;
}

.portFolioImg .flexImgPortfolio .imgPort img {
  width: 100%;
  height: auto;
}

.paraScroll {
  width: 100%;
  height: 300px;
  background: url("../ressources/para.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paraScroll h3 {
  text-align: center;
  color: #f1f1f1;
  font-size: 50px;
  letter-spacing: 5px;
}

.titreForm {
  text-align: center;
}

.formulaire {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formulaire form {
  width: 60%;
}

.formulaire form .row {
  width: 100%;
}

.formulaire form .row input, .formulaire form .row textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formulaire form .row textarea {
  height: 150px;
}

.formulaire form .row .subBtn {
  width: 30%;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.formulaire form .row .subBtn:hover {
  background: midnightblue;
  color: #f1f1f1;
}

.formulaire form .row:nth-child(2), .formulaire form .row:nth-child(3) {
  margin-top: 30px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px dashed #333;
}
/*# sourceMappingURL=style.css.map */